@model IEnumerable<Kristin2.Models.CustomerModel>


    @{
        ViewBag.Title = "CustomersList";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row justify-content-center ">
        <div class="col-md-12 text-center mt-5">
            <h1>רשימת לקוחות</h1>
            <p>
                @Html.ActionLink("הוספה", "Create")
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">

            <table class="table">
                <tr>
                    <th>
                        שם פרטי
                    </th>
                    <th>
                        שם משפחה
                    </th>
                    <th>
                        גיל
                    </th>
                    <th>
                        ביקור אחרון
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("ערוך", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("פרטים", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("מחק", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>



    @section scripts{
      
    }


